<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Hexirp" />

    <link rel="icon" href="../icon.png" />

    <title>$title$ - Hexirp's Blog</title>

    <link rel="stylesheet" href="../styles/main.css" />
  </head>

  <body>
    <header>
      <div id="icon">
        <a href="../">
          <img src="../icon.png" alt="Hexirp's icon" width="64" height="64" />
        </a>
      </div>

      <ul id="nav">
        <li><a href="../about.html">About</a></li>
        <li><a href="https://twitter.com/hexirp_prixeh">Twitter</a></li>
        <li><a href="https://github.com/Hexirp">GitHub</a></li>
      </ul>
    </header>

    <main>
$body$
    </main>
  </body>
</html>
