body {
  display: grid;
  grid-template-rows: 96px 1fr;

  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 96px 1fr;

  font-weight: bold;
  color: #333333;
  background-color: #ff6600;
}

header a:link {
  color: #333333;
}

header a:visited {
  color: #666666;
}

header a:hover {
  color: #999999;
}

header a:active {
  color: #cccccc;
}

main {
  padding: 8px 10%;
}

h1 {
  border-bottom: solid 2px #cccccc;
}

h2 {
  border-bottom: solid 1px #cccccc;
}


#icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  display: flex;
  align-items: center;

  padding: 0px;
  margin: 0px;

  list-style: none;
}

#nav > li {
  padding: 8px;
}
