body {
  display: grid;
  grid-template-rows: 64px 1fr;
}

header {
  display: grid;
  grid-template-columns: 64px 1fr;
}


#nav {
  display: flex;
  align-items: center;

  padding: 0px;
  margin: 0px;

  list-style: none;
}

#nav > li {
  margin: 8px 24px;
}
